package com.bgsoftware.wildloaders.nms.${NMS_VERSION};

import com.bgsoftware.wildloaders.api.loaders.ChunkLoader;
import com.bgsoftware.wildloaders.chunks.ChunksTracker;
import com.bgsoftware.wildloaders.loaders.ITileEntityChunkLoader;
import com.bgsoftware.wildloaders.loaders.WChunkLoader;
import com.bgsoftware.wildloaders.nms.NMSAdapter;
import com.bgsoftware.wildloaders.nms.${NMS_VERSION}.loader.ChunkLoaderBlockEntity;
import com.bgsoftware.wildloaders.scheduler.Scheduler;
import net.minecraft.core.BlockPos;
import net.minecraft.server.level.ServerLevel;
import net.minecraft.world.item.ItemStack;
import net.minecraft.world.level.ChunkPos;
import net.minecraft.world.level.block.Block;
import net.minecraft.world.level.block.entity.BlockEntity;
import net.minecraft.world.level.block.entity.SpawnerBlockEntity;
import net.minecraft.world.level.chunk.LevelChunk;
import org.bukkit.Location;
import org.bukkit.World;
import ${CRAFTBUKKIT_PACKAGE}.CraftWorld;
import ${CRAFTBUKKIT_PACKAGE}.inventory.CraftItemStack;

import javax.annotation.Nullable;
import java.util.UUID;

public abstract class AbstractNMSAdapter implements NMSAdapter {

    @Override
    public String getTag(org.bukkit.inventory.ItemStack bukkitItem, String key, String def) {
        ItemStack itemStack = CraftItemStack.asNMSCopy(bukkitItem);
        return getTagInternal(itemStack, key, def);
    }

    protected abstract String getTagInternal(ItemStack itemStack, String key, String def);

    @Override
    public org.bukkit.inventory.ItemStack setTag(org.bukkit.inventory.ItemStack bukkitItem, String key, String value) {
        ItemStack itemStack = CraftItemStack.asNMSCopy(bukkitItem);
        setTagInternal(itemStack, key, value);
        return CraftItemStack.asCraftMirror(itemStack);
    }

    protected abstract void setTagInternal(ItemStack itemStack, String key, String value);

    @Override
    public long getTag(org.bukkit.inventory.ItemStack bukkitItem, String key, long def) {
        ItemStack itemStack = CraftItemStack.asNMSCopy(bukkitItem);
        return getTagInternal(itemStack, key, def);
    }

    protected abstract long getTagInternal(ItemStack itemStack, String key, long def);

    @Override
    public org.bukkit.inventory.ItemStack setTag(org.bukkit.inventory.ItemStack bukkitItem, String key, long value) {
        ItemStack itemStack = CraftItemStack.asNMSCopy(bukkitItem);
        setTagInternal(itemStack, key, value);
        return CraftItemStack.asCraftMirror(itemStack);
    }

    protected abstract void setTagInternal(ItemStack itemStack, String key, long value);

    @Override
    public org.bukkit.inventory.ItemStack getPlayerSkull(org.bukkit.inventory.ItemStack bukkitItem, String texture) {
        ItemStack itemStack = CraftItemStack.asNMSCopy(bukkitItem);
        setTextureForItem(itemStack, texture);
        return CraftItemStack.asCraftMirror(itemStack);
    }

    protected abstract void setTextureForItem(ItemStack itemStack, String texture);

    @Override
    public com.bgsoftware.wildloaders.api.npc.ChunkLoaderNPC createNPC(Location location, UUID uuid) {
        return new ChunkLoaderNPCImpl(location, uuid);
    }

    @Override
    public ITileEntityChunkLoader createLoader(ChunkLoader chunkLoader,
                                               @Nullable OnSpawnerChangeCallback onSpawnerChangeCallback) {
        Location loaderLoc = chunkLoader.getLocation();
        World bukkitWorld = loaderLoc.getWorld();

        if (bukkitWorld == null)
            throw new IllegalArgumentException("Cannot create loader in null world.");

        ServerLevel serverLevel = ((CraftWorld) bukkitWorld).getHandle();
        BlockPos blockPos = new BlockPos(loaderLoc.getBlockX(), loaderLoc.getBlockY(), loaderLoc.getBlockZ());

        ChunkLoaderBlockEntity ChunkLoaderBlockEntity = new ChunkLoaderBlockEntity(chunkLoader, serverLevel, blockPos);
        serverLevel.addBlockEntityTicker(ChunkLoaderBlockEntity.getTicker());

        Scheduler.ensureMain(loaderLoc, () ->
                setChunksForcedForLoader(chunkLoader, serverLevel, true, onSpawnerChangeCallback));

        return ChunkLoaderBlockEntity;
    }

    @Override
    public void removeLoader(ChunkLoader chunkLoader, boolean spawnParticle,
                             @Nullable OnSpawnerChangeCallback onSpawnerChangeCallback) {
        Location loaderLoc = chunkLoader.getLocation();
        World bukkitWorld = loaderLoc.getWorld();

        if (bukkitWorld == null)
            throw new IllegalArgumentException("Cannot remove loader in null world.");

        ServerLevel serverLevel = ((CraftWorld) bukkitWorld).getHandle();
        BlockPos blockPos = new BlockPos(loaderLoc.getBlockX(), loaderLoc.getBlockY(), loaderLoc.getBlockZ());

        ChunkLoaderBlockEntity chunkLoaderBlockEntity =
                (ChunkLoaderBlockEntity) ((WChunkLoader) chunkLoader).getTileEntityChunkLoader();

        if (chunkLoaderBlockEntity != null) {
            chunkLoaderBlockEntity.holograms.values().forEach(EntityHologram::removeHologram);
            chunkLoaderBlockEntity.removed = true;
        }

        if (spawnParticle)
            serverLevel.levelEvent(null, 2001, blockPos, Block.getId(serverLevel.getBlockState(blockPos)));

        Scheduler.ensureMain(loaderLoc, () ->
                setChunksForcedForLoader(chunkLoader, serverLevel, false, onSpawnerChangeCallback));
    }

    private static void setChunksForcedForLoader(ChunkLoader chunkLoader, ServerLevel serverLevel, boolean forced,
                                                 @Nullable OnSpawnerChangeCallback onSpawnerChangeCallback) {
        World bukkitWorld = serverLevel.getWorld();

        int requiredPlayerRange = forced ? -1 : 16;

        for (org.bukkit.Chunk bukkitChunk : chunkLoader.getLoadedChunksCollection()) {
            if(!(forced ? ChunksTracker.track(bukkitChunk) : ChunksTracker.untrack(bukkitChunk)))
                continue;

            int chunkX = bukkitChunk.getX();
            int chunkZ = bukkitChunk.getZ();

            LevelChunk levelChunk = serverLevel.getChunk(chunkX, chunkZ);

            for (BlockEntity blockEntity : levelChunk.getBlockEntities().values()) {
                if (blockEntity instanceof SpawnerBlockEntity spawnerBlockEntity) {
                    spawnerBlockEntity.getSpawner().requiredPlayerRange = requiredPlayerRange;
                    if (onSpawnerChangeCallback != null) {
                        BlockPos blockPos = blockEntity.getBlockPos();
                        Location location = new Location(bukkitWorld, blockPos.getX(), blockPos.getY(), blockPos.getZ());
                        onSpawnerChangeCallback.apply(location, requiredPlayerRange);
                    }
                }
            }

            serverLevel.setChunkForced(chunkX, chunkZ, forced);
        }
    }

    @Override
    public void updateSpawner(Location location, boolean reset,
                              @Nullable OnSpawnerChangeCallback onSpawnerChangeCallback) {
        World bukkitWorld = location.getWorld();

        if (bukkitWorld == null)
            throw new IllegalArgumentException("Cannot remove loader in null world.");

        ServerLevel serverLevel = ((CraftWorld) bukkitWorld).getHandle();
        BlockPos blockPos = new BlockPos(location.getBlockX(), location.getBlockY(), location.getBlockZ());
        BlockEntity blockEntity = serverLevel.getBlockEntity(blockPos);
        if (!(blockEntity instanceof SpawnerBlockEntity spawnerBlockEntity))
            return;

        int requiredPlayerRange = reset ? 16 : -1;
        spawnerBlockEntity.getSpawner().requiredPlayerRange = requiredPlayerRange;
        if (onSpawnerChangeCallback != null)
            onSpawnerChangeCallback.apply(location, requiredPlayerRange);
    }

}
